@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Macondo&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Tagesschrift&display=swap');

:root{
    --main-color:#1d263b;
    --second-color:#3FA9FF;
    --font-color:#504A4A;
    --font-header:3.2rem;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: "Poppins";
}
/* Navbar */
.navbar{
    background-color: var(--main-color) !important;
    color: white !important;
    font-size: 1.8rem;
}
.navbar .logo{
    width: 9rem;
    height: 7rem;
    object-fit: contain;
}
/* Login */
.wrapper-login h3{
    color: var(--font-color);
}
.btn-signup{
    background-color: var(--second-color);
    color: white;
    padding: 0.8rem 2rem !important;
}
.button{
    border: none;
    border-radius: 8px;
    padding: 1.2rem 3rem;
    font-size: 1.6rem;
    font-weight: bold;  
}
.btn-signin{
   color: var(--main-color);
}

/* Hero */
.hero{
    background:
    /* linear-gradient(
      to bottom,
      rgba(13,110,253,0.85) 10%,
      rgba(13,110,253,0.35) 70%,
      rgba(13,110,253,0) 85%
    ), */
    url(img/kota-bekasi2.png);
    width: 100%;
    height: 80vh;
    background-position: center 45%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero>*{
    position: relative;
    z-index: 2;
}
 /* .hero::before {
  content: "";
  position: absolute;
  inset: 0;

  background: linear-gradient(
    to top,
    #040e2f 0%,
    rgba(4,14,47,0.9) 2%,
    rgba(4,14,47,0.4) 5%,
    transparent 100%
  );

  z-index: 1;
} */
/* .hero::after{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.40),
    rgba(255, 255, 255, 0)
  ); 
} */
 /* .hero::after{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 10%;
 } */
.hero h1{
    font-size: 4.5rem;
}
.hero h1,
.hero h3{
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.60);
}
.hero img{
    width: 42rem;
    height: 39rem;
    
}
/* About me */
.about-me{
    background-color: var(--main-color);
    
    /* background: url('img/Desain\ tanpa\ judul10.png');
     background-size: cover;
  background-position: center;

  background-attachment: fixed; /* 🔥 ini kuncinya */
    height: auto;
    width: 100%;
    padding: 7rem 2rem;
}
.font-header{
    font-size: var(--font-header);
    margin-bottom: 2rem;
}
.about-me p{
    font-size: 2.2rem;
}
.sosial-media i{
  font-size: 2.6rem;
  cursor: pointer;
}
.yt{
    font-size: 3rem !important;
}
hr{
    
    border: none;
    height: 6px;
     background-color: white;
     opacity: 1;
}
/* Section-3 */
.section-3{
    height: 100%;
    background-image: url('/img/Desain\ tanpa\ judul1.png');
    width: 100%;
    height: 100%;
    background-size: cover;
    position: relative;
    z-index: 1;
    
}
.section-3>*{
    position: relative;
    z-index: 1;
}
/* .section-3::before{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 30rem;
    height: 30rem;
    background-size: cover;
    background-image: url('img/overlay.jpg');
} */
.section-3 h2,
.section-3 p{
    color: var(--font-color);
}
.section-3 p{
    font-size: 2.2rem;
}
.section-3 img{
    width: 35rem;
    
    height: auto;
}
.section-3 button{
    background-color: var(--main-color);
    border: none;
    padding: 1.2rem 4rem;
    font-size: 1.8rem;
    font-weight: bold;
    transition: all .2s ease-in;  
}
.section-3 button:hover{
    background-color: #dc3545;
}
/* Sectio 4 */
.section-5{
                               
}
.section-4{
    background-image: url('img/Desain\ tanpa\ judul7.png');
    width: 100%;
    height: 100%;
    background-position: center 90%;
    
}
.section-4 .cont1{
    border-radius: 20px;
    border: 2px solid rgb(248, 126, 12);
    background: transparent;
}
.section-4 img{
    width: 8rem;
}
.section-4 .img-icon{
    width: 7rem;
    height: 7rem;
}
.section-5{
     background-image: url('img/Desain\ tanpa\ judul6.png');
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:right 70%;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column ;
}
.number{    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background-color: white;
    position: relative;
    z-index: 1;
    box-shadow: 1px 1px 8px rgba(255, 255, 255, 0.6);
}
.number.active{
    background-color: var(--second-color);
}
.number.active h1{
     color: transparent; /* Isi teks hilang */
    -webkit-text-stroke: 2px white; /* Garis tepi warna abu-abu gelap */
}
.number h1{
    font-size: 6rem;
    font-weight: bold;
    color: transparent; /* Isi teks hilang */
    -webkit-text-stroke: 2px var(--second-color); /* Garis tepi warna abu-abu gelap */
}
.box p{
    font-size: 2rem;
    font-weight: bold;
    color: var(--main-color);
    padding-top: 1.6rem;
    text-align: center;

}
.step-wrapper{
    position: relative;
    z-index: 1;
}
.step-wrapper::before{
    content: '';
    position: absolute;
    background-color: var(--main-color);
    height: 3px;
    top: 40%;
    transform: translateY(-50%);
    right: 8%;
    left:8%;
    z-index: 0;
}
.next a{
    color: var(--main-color) !important;
    font-size: 1.2rem;
}

/* Membuat backdrop (latar belakang) hitam pekat */
.modal-backdrop.show {
    opacity: 0.85; /* Nilai 0.0 - 1.0. Semakin tinggi semakin gelap */
    background-color: #000;
}

/* Mengatur tombol close agar berada di atas gambar */
.footer{
    background-color: var(--main-color);
}

.footer ul li,
.footer p{
    font-size: 1.6rem;
    list-style: none;
    
}
.footer ul li{
    line-height: 3.8rem;
    cursor: pointer;
}
.footer iframe{
    width: 100%;
    max-width: 35rem;
    height: 20em;
    border-radius: 1.6rem;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footer img{
    width: 15rem;
    height: 15rem;
}
/* Tag */
.tag{
background-color: var(--second-color);
}
.tag p{
    font-size: 1.6rem;
}
 .navbar-toggler{
        color: white !important;
        border:none ;
    }
    .navbar-toggler-icon{
        font-size: 3rem;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23FFFFFF' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
@media screen and (max-width:992px){
    html{
        font-size: 60%;
    }
    .hero h1{
        font-size: 4rem;
    }
     .hero{
        height: 60vh;
    }
    .section-3 img{
    width: 30rem;
    
    height: auto;
}
     .number{
    width: 12rem;
    height: 12rem;
    margin-right: 2.4rem;
    
  }
    .box p{
        font-size: 1.2rem;
    }
}
@media screen and (max-width:767px){

    
    html{
        font-size: 55%;
    }
    .hero img{
    width: 22rem;
    height: 20rem;
    }
    .hero h1{
        font-size: 4rem;
    }
   
    
   
   .section-3 img{
    width: 30rem;
    height: 30rem;
   }
   .number{
    width: 12rem;
    height: 12rem;
    margin-right: 2.4rem;
    flex-shrink: 0;
    
  }
  .box{
     flex-direction: row;
     gap: 20px;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1.2rem;
    padding-bottom: 2rem;
  }
   .box p{
        font-size: 2rem;
    }
    .link-a a{
        font-size: 1.6em;
    }

  .step-wrapper::before {
    width: 3px;
    height: 80%;
    left: 7.5rem;
    top: 0;
    transform: translateX(-50%);
  }
  .center{
    align-items: flex-start;
  }
}
@media screen and (max-width:576px){
    html{
        font-size: 50%;}
        .hero h1{
            font-size: 3.5rem;
        }
    .hero{
        height: 40vh;
    }
    .hero h3{
        font-size: 1.6rem ;
        color: white !important;
    }
    
  }
  .button{
    padding: 0.8rem 2.6rem;
    font-size: 1.4rem;
  }
  .box p{
    font-size: 2.2rem;
  }
  
  .footer ul li,
.footer p{
    font-size: 2rem;
    list-style: none;
    
}


